<!DOCTYPE html>
<html lang="en">

<head>
    <title>Тестовое задание</title>
</head>

<body bgcolor="#c0c0c0">
    <H1>
        тестовое задание
    </H1>
    
    <textarea id="time" cols="50" rows="50" style="border-radius: 8px;"></textarea>
    <textarea id="output" cols="150" rows="50" style="border-radius: 8px;"></textarea>

    <script>
        var ws = new WebSocket("ws://127.0.0.1:5001/");

        ws.onmessage = function (event) {
            var output = document.getElementById('output');
            var time = document.getElementById('time');
            data = JSON.parse(event.data);
            output.value += data.info + '\n';
            time.value += data.time + '\n';
        }; 
    </script>

</body>
</html>
